version: '3.3'

services:

   client:
        build:
            context: ./frontend
            dockerfile: Dockerfile
        ports:
            - "3000:3000"
        tty: true 
        #volumes:
       #     - ./frontend:/app
        #    - /app/node_modules
        networks:
            - frontend
            - backend
        depends_on:
          - api
        extra_hosts:
          - "host.docker.internal:host-gateway"


   mongodb:
        image: mongo
        container_name: mongodb_v1
        restart: unless-stopped
        command: mongod --auth
        environment:
            MONGO_INITDB_ROOT_USERNAME: assia
            MONGO_INITDB_ROOT_PASSWORD: test
            MONGO_INITDB_DATABASE: flaskdb
            MONGODB_DATA_DIR: /data/db
            MONGO_LOG_DIR: dev/null
        volumes:
          - mongodbdata:/data/db
        networks:
          - backend
 

   api:
    build: 
     context: ./backend
     dockerfile: Dockerfile
    command: gunicorn --bind 0.0.0.0:5000 --timeout 120 app:app
    ports:
    - "5000:5000"
    environment:
      MONGODB_DATABASE: flaskdb 
      MONGODB_HOST: mongodb
      MONGODB_USERNAME: assia
      MONGODB_PASSWORD: test
    volumes:
      - appdata:/var/www/
    depends_on:
      - mongodb
    networks:
      - frontend
      - backend


networks:
    frontend:
        driver: bridge
    backend:
        driver: bridge
volumes:
    mongodbdata:
        driver: local
    appdata:
        driver: local