version: '3.3'

services:

    client:
        build:
            context: ./frontend
            dockerfile: Dockerfile
        ports:
            - "3000:3000"
        tty: true
        #volumes:
       #     - ./frontend:/app
        #    - /app/node_modules
        networks:
            - frontend


    mongodb:
        image: mongo
        container_name: mongodb_v1
        restart: unless-stopped
        command: mongod --auth
        env_file:
            - .env
        environment:
            MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
            MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
            MONGO_INITDB_DATABASE: ${MONGO_INITDB_DATABASE:-flaskdb}
            MONGODB_DATA_DIR: /data/db
            MONGO_LOG_DIR: dev/null
        volumes:
          - mongodbdata:/data/db
        networks:
          - backend

    api:
        build:
            context: ./backend
            dockerfile: Dockerfile
        command: gunicorn --bind 0.0.0.0:5000 app:app
        ports:
            - "5000:5000"
        env_file:
            - .env
        environment:
            MONGODB_DATABASE: ${MONGODB_DATABASE:-flaskdb}
            MONGODB_HOST: ${MONGODB_HOST:-mongodb}
            MONGODB_USERNAME: ${MONGODB_USERNAME}
            MONGODB_PASSWORD: ${MONGODB_PASSWORD}
            JWT_SECRET_KEY: ${JWT_SECRET_KEY}
        volumes:
            - appdata:/var/www/
        depends_on:
            - mongodb
        networks:
            - frontend
            - backend

networks:
    frontend:
        driver: bridge
    backend:
        driver: bridge
volumes:
    mongodbdata:
        driver: local
    appdata:
        driver: local
