#!/bin/bash

echo "🔐 Initialisation de Vault..."

docker exec vault sh -c '
export VAULT_ADDR=http://127.0.0.1:8200
export VAULT_TOKEN=root

vault kv put secret/mongodb \
  username=assia \
  password=test \
  database=flaskdb \
  host=mongodb

vault kv put secret/dockerhub \
  username=YOUR DOCKER HUB USERNAME \
  password=YOUR DOCKER HUB SECRET TOKEN OR PASSWORD

vault kv get secret/mongodb
vault kv get secret/dockerhub
'

echo "✅ Vault initialisé avec succès"